.account-masthead {
    background-color: #666;
}

.masthead {
  background-color: rgb(23,133,200);
}

.site-footer,
body {
  background-color: rgb(23, 133, 200);
}

.btn-primary {
  background-image: linear-gradient(to bottom, #1785C8, #085871);
}

.homepage .module-search .module-content {
	background-color: rgb(23, 133, 200);
}

.homepage .module-search .tags {
	background-color: black ;
}

a {
	color: rgb(23, 133, 200);
}
